[submodule "nova-bot"]
	path = nova-bot
	url = https://github.com/tuniveza/nova-bot.git
[submodule "nova-agent"]
	path = nova-agent
	url = https://github.com/tuniveza/nova-agent.git
[submodule "nova-club"]
	path = nova-club
	url = https://github.com/tuniveza/nova-club.git
[submodule "nova-notes"]
	path = nova-notes
	url = https://github.com/tuniveza/nova-notes.git
[submodule "nova-observatory"]
	path = nova-observatory
	url = https://github.com/tuniveza/nova-observatory.git
[submodule "nova-calendar"]
	path = nova-calendar
	url = https://github.com/tuniveza/nova-calendar.git
[submodule "nova-index"]
	path = nova-index
	url = https://github.com/tuniveza/nova-index.git
